
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="col-lg-6">
                    <h4>Contact Us </h4>
                    <p>CIE 201, IIIT-HYD, Gachibowli, Hyderabad, India </p>
                    <p>502032 </p>
                    <p>+917702379521 / sales@akrantha.com </p>
                </div>
                <div class="col-lg-6">
                    <h4>Legal</h4>
                    <p>© 2015 Akrantha Inc. All Rights Reserved. </p>
                </div> 
                
            </div>
        </div>
    </div>
</div>
