 <!-- Header Carousel -->
    <div class="carousel slide">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active" class="carousel-inner">
          <img ng-src="{{slide.image}}" style="height:460px;">
          <div class="carousel-caption">
            <h2 style="color:#110066;">{{slide.caption}}</h2>
          </div>
        </slide>
      </carousel>
    </div>


    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw" ></i>Cloud Services</h4>
                    </div>
                    <div class="panel-body">
                        <p>High Availability, Continuity Services with Disaster Recovery. Enhanced Security Srevices. Be it AWS, Azure, Google or OpenStack, We have it All. </p><br>
                        <a href="#/cloud" class="btn btn-default pull-right">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw"></i>BigData Services</h4>
                    </div>
                    <div class="panel-body">
                        <p>Which framework should I use for my Business Case. Should I use hadoop?, Apache Spark?
                        Which Storage should I use? Apache Cassandra?, Apache Hadoop and/or PostgresSQL?
                        </p>
                        <a href="#/bigdata" class="btn btn-default pull-right">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw"></i>Analytics Services</h4>
                    </div>
                    <div class="panel-body">
                        Can I predict my Customer life Time value? Is there a customer churn?
                        Making data driven decisions data transformation modelling Visualization deployment and monitoring
                        </p>
                        <a href="#/analytics" class="btn btn-default pull-right" >Learn More</a>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Portfolio</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#/marketing-analytics">
                    <img class="img-responsive img-portfolio img-hover" src="images/marketing3.jpg" alt="" style="max-width: 100% !important;">Marketing Analytics
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#/risk-analytics">
                    <img class="img-responsive img-portfolio img-hover" src="images/risk.jpg" alt="">Risk Analytics
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#/reco-analytics">
                    <img class="img-responsive img-portfolio img-hover" src="images/reco2.jpg" alt="">Recommendations
                </a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
