{% extends "base_template.html" %}
{% block title %}BigData is where we are{% endblock %}
{% block description %}I enjoy photography and video editing. Check out some of my work!{% endblock %}


         

	{% block content %}
	<div  class="page">
	  <div class="container page text-center">
	     <div class="col-md-2 text-left mg pd"><img src="static/images/ad1.png" /></div>
	     <div class="col-md-8 content mg pd">

			This is the beautiful project
          </div> 

	<div class="col-md-2  text-right mg pd"><img src="static/images/ad2.png" /></div>
	</div>

       </div>
{% endblock %}
