{% extends "base_template.html" %}
{% block title %}BigData is where we are{% endblock %}
{% block description %}I enjoy photography and video editing. Check out some of my work!{% endblock %}


		{% block rightsidebar %}
		    <style type="text/css">
			.important { color: #336699; }
		    </style>
		{% endblock %}

	{% block content %}

	    <div class="container">
		<!-- Marketing Icons Section -->
		<div class="row">
		    <div class="col-lg-12">
			<h2 class="page-header">Consulting Services
			</h2>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>We Build and Deploy Apps on Cloud</h4>
			    </div>
			    <div class="panel-body">
				<p>Design, build and Deploy applications on Cloud. High Availability and Continuity Services with Disaster Recovery. We work with AWS, Azure ad Google Cloud Platforms</p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>We provide insights to your Data</h4>
			    </div>
			    <div class="panel-body">
				<p>You bring Data, We bring BigData expertise. You bring business insights, we make it so. We work with Hadoop, Apache Spark, Cassandra, HBase, Kafka, Amazon Dynamo and much more</p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>We Manage Big Data Infra for You</h4>
			    </div>
			    <div class="panel-body">
				<p>Be it Hadoop, Cassandra, Hbase, on cloud or on Premise, we take care of your infrastrcutre, while you focus on your businsess</p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-lg-12">
			<h2 class="page-header">Yes Consultant is ready.    Call 011-91-9866194332 Right Now!
			</h2>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>Free Apache Hadoop Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>Would you like these tutorials works for you. We would glad to build Map Reduce Programs for you.</p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Free Apache Spark Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>We will build you Spark Infrastructure for your analytics needs.
				We will build and run Spark Jobs for you. You can focus on Business.
				</p>
				<a href="/spark/apache-spark" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Free Devops Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>
				Devops automation, build management, server monitoring and optimization. We are ready to build it for you.
				</p>
				<a href="/vagrant/overview" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Free Docker Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>
				We can Build a Smart Micro Services Architecture wit Docket, Kubernetes for your Development and Production Needs.
				</p>
				<a href="/docker/docker" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>
		   
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Free Mongodb Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>
				Are you looking build and deploy Big Data Apps with MongoDB. We can build and deploys apps for using MongoDB.
				</p>
				<a href="/mongodb/mongodb" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Free Cassandra Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>
				We have installed a 12 node cluster for one of customers. We manage servers, performance tuning and run daily reports on the same. We can do it for you too!.
				</p>
				<a href="/cassandra/installing" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Free Fuse Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>
				Coming Soon
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Elastic Search Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>
					Coming Soon
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		</div>
		<!-- /.row -->

		<!-- Portfolio Section -->
		<div class="row">
		    <div class="col-lg-12">
			<h2 class="page-header">Template Projects</h2>
		    </div>
		    <div class="col-md-4 col-sm-6">
			<a href="/marketing-analytics/">
			    <img class="img-resp(nsive img-portfolio img-hover" src="{{ url_for('static', filename = 'images/marketing3.jpg') }}" alt="">Marketing Analytics
			</a>
		    </div>
		    <div class="col-md-4 col-sm-6">
			<a href="#/risk-analytics">
			    <img class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename = 'images/risk.jpg') }}" alt="">Risk Analytics
			</a>
		    </div>
		    <div class="col-md-4 col-sm-6">
			<a href="#/reco-analytics">
			    <img class="img-responsive img-portfolio img-hover" src="{{url_for('static',filename='images/reco2.jpg')}}" alt="">Recommendations
			</a>
		    </div>
		</div>

	    </div>

	{% endblock %}


		{% block adbar %}
		    <style type="text/css">
			.important { color: #336699; }
		    </style>
		{% endblock %}
