{% extends "base_template.html" %}
{% block title %}BigData is where we are{% endblock %}
{% block description %}I enjoy photography and video editing. Check out some of my work!{% endblock %}


		{% block rightsidebar %}
		    <style type="text/css">
			.important { color: #336699; }
		    </style>
		{% endblock %}

	{% block content %}

	    <div class="container">
		<!-- Marketing Icons Section -->
		<div class="row">
		    <div class="col-lg-12">
			<h2 class="page-header">Consulting Services
			</h2>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>Cloud</h4>
			    </div>
			    <div class="panel-body">
				<p>High Availability, Continuity Services with Disaster Recovery. Enhanced Security Srevices. Be it AWS, Azure, Google or OpenStack, We have it All. </p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>Analytics</h4>
			    </div>
			    <div class="panel-body">
				<p>High Availability, Continuity Services with Disaster Recovery. Enhanced Security Srevices. Be it AWS, Azure, Google or OpenStack, We have it All. </p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>Big Data</h4>
			    </div>
			    <div class="panel-body">
				<p>High Availability, Continuity Services with Disaster Recovery. Enhanced Security Srevices. Be it AWS, Azure, Google or OpenStack, We have it All. </p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-lg-12">
			<h2 class="page-header">Latest State of the Tutorials
			</h2>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw" ></i>Apache Hadoop Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>High Availability, Continuity Services with Disaster Recovery. Enhanced Security Srevices. Be it AWS, Azure, Google or OpenStack, We have it All. </p><br>
				<a href="/hadoop/apache-hadoop/" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Apache Spark Tutorials</h4>
			    </div>
			    <div class="panel-body">
				<p>Which framework should I use for my Business Case. Should I use hadoop?, Apache Spark?
				Which Storage should I use? Apache Cassandra?, Apache Hadoop and/or PostgresSQL?
				</p>
				<a href="/spark/apache-spark" class="btn btn-default pull-right">Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Angular Tutorials</h4>
			    </div>
			    <div class="panel-body">
				Can I predict my Customer life Time value? Is there a customer churn?
				Making data driven decisions data transformation modelling Visualization deployment and monitoring
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Apache Cassandra Tutorials</h4>
			    </div>
			    <div class="panel-body">
				Can I predict my Customer life Time value? Is there a customer churn?
				Making data driven decisions data transformation modelling Visualization deployment and monitoring
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>
		   
		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Scala Tutorials</h4>
			    </div>
			    <div class="panel-body">
				Can I predict my Customer life Time value? Is there a customer churn?
				Making data driven decisions data transformation modelling Visualization deployment and monitoring
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Akka Tutorials</h4>
			    </div>
			    <div class="panel-body">
				Can I predict my Customer life Time value? Is there a customer churn?
				Making data driven decisions data transformation modelling Visualization deployment and monitoring
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>JBoss Tutorials</h4>
			    </div>
			    <div class="panel-body">
				Can I predict my Customer life Time value? Is there a customer churn?
				Making data driven decisions data transformation modelling Visualization deployment and monitoring
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		    <div class="col-md-4">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4><i class="fa fa-fw"></i>Elastic Search Tutorials</h4>
			    </div>
			    <div class="panel-body">
				Can I predict my Customer life Time value? Is there a customer churn?
				Making data driven decisions data transformation modelling Visualization deployment and monitoring
				</p>
				<a href="/cassandra/cassandra.md" class="btn btn-default pull-right" >Learn More</a>
			    </div>
			</div>
		    </div>

		</div>
		<!-- /.row -->

		<!-- Portfolio Section -->
		<div class="row">
		    <div class="col-lg-12">
			<h2 class="page-header">Template Projects</h2>
		    </div>
		    <div class="col-md-4 col-sm-6">
			<a href="/marketing-analytics/">
			    <img class="img-resp(nsive img-portfolio img-hover" src="{{ url_for('static', filename = 'images/marketing3.jpg') }}" alt="">Marketing Analytics
			</a>
		    </div>
		    <div class="col-md-4 col-sm-6">
			<a href="#/risk-analytics">
			    <img class="img-responsive img-portfolio img-hover" src="{{ url_for('static', filename = 'images/risk.jpg') }}" alt="">Risk Analytics
			</a>
		    </div>
		    <div class="col-md-4 col-sm-6">
			<a href="#/reco-analytics">
			    <img class="img-responsive img-portfolio img-hover" src="{{url_for('static',filename='images/reco2.jpg')}}" alt="">Recommendations
			</a>
		    </div>
		</div>

	    </div>

	{% endblock %}


		{% block adbar %}
		    <style type="text/css">
			.important { color: #336699; }
		    </style>
		{% endblock %}
