{% extends "index.html" %}
{% block title %}BigData is where we are. This Big Data keeps moving thing around.{% endblock %}
{% block description %}I enjoy photography and video editing. Check out some of my work!{% endblock %}
{% block content %}

    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Marketing 
                    <small>Analytics</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Marketing</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="images/portfolio/dota2.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Match Prediction Engine for Dota2</h3>
                <h4>Outcome Prediction</h4>
                <p>A match prediction engine for the popular game Dota2. The previous efforts at hero recommendation, buuilding on these to provide a more complete exploration of machine learning algorithms applied to this problem. The details about the feature selection and method selection is discussed.</p>
                <a class="btn btn-primary" href="portfolio-item.html">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="row">
            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-hover" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Customer Life Time Value</h3>
                <h4>Analysis</h4>
                <p>This report aims to present a study on how machine learning techniques can be
applied to such a requirement to recommend TV programs via distributed
learning system that uses Spark as its computation engine. A brief description of
machine learning models, their relevance and their components is discussed.
These techniques are connected with various paradigms of Recommendation
methods considering in detail the mathematical modelling for ALS formulation in
the context of TV programs. Also a brief outline of Apache Spark is included to
introduce the higher level API within the machine learning library.</p>
                <a class="btn btn-primary" href="portfolio-item.html">View Project</i></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>

{% endblock %}
