{% extends "base_template.html" %}
            {% block title %}{{ post.title }}{% endblock %}
            {% block description %}{{ post.description }}{% endblock %}

		{% block rightsidebar %}
		     <div class="col-md-2 text-left mg pd">
			<li>
			<a href="/vagrant/overview">Overview</a>
                        </li>
			<li>
			<a href="/vagrant/using">Using Vagrant</a>
                        </li>
			<li>
			<a href="/vagrant/vagrant">Getting Started</a>
                        </li>
			<li>
			<a href="/vagrant/basic0">Very Basic Vagrant</a>
                        </li>
			<li>
			<a href="/vagrant/basic">Booting Ubuntu VM</a>
                        </li>
			<li>
			<a href="/vagrant/vagrant_puppet">Vagrant & Puppet</a>
                        </li>
			<li>
			<a href="/vagrant/terraform">Using Terraform</a>
                        </li>
			<li>
			<a href="/vagrant/elk">Log file analysis</a>
                        </li>
			<li>
			<a href="/vagrant/vagrant_issues">Vagrant Issues</a>
                        </li>
		     </div>
		{% endblock %}

            {% block content %}
            <div class="title">
                <div class="container-fluid">
                    <h2>
                        {{ post.title }}
                    </h2>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                </div>
                    <div id="post" class="eight columns card">
                        {{ post.html|safe }}
                    </div>

            </div>

            <script type="text/javascript">
            $(document).ready(function(){
                $('#post a').attr('target','_blank');
            });
            </script>
            {% endblock %}





